$black: #000;


.playlistitem {
  height: 150px;
  text-align: center;
  width: 150px;

  header {
    text-align: center;
  }


  img {
    height: 80%;
    width: 80%;
  }
}


.graph_container {
  border: solid blue 3px;
  width: 600px;
  height: 600px;
}
