$black: #000;


.playlistitem {
  height: 150px;
  text-align: center;
  width: 150px;

  header {
    text-align: center;
  }


  img {
    border: solid $black 3px;
    border-radius: 150px;
    height: 80%;
    width: 80%;
  }
}

